

<head>
	
  <meta charset="utf-8">
    <title>Comprehensive Mortgage Calculator | daniel stern</title>
    <meta name="description" content="A modern webapp">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="main.css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->

    <!-- social -->
    <link rel="canonical" href="http://danielstern.ca/finance" />
    <!-- <meta property="og:locale" content="en_A" /> -->
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="Comprehensive Mortgage Calculator | daniel stern" />
    <meta property="og:description" content="Let's get fiscal up in here." />
    <meta property="og:url" content="http://danielstern.ca/finance" />
    <meta property="og:site_name" content="finance.js | daniel stern" />
    <!-- <meta property="article:publisher" content="https://www.facebook.com/range.css" /> -->
    <meta property="og:image" content="http://danielstern.ca/img/danielstern.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@danieljackstern" />
    <meta name="twitter:domain" content="danieljackstern" />
    <meta name="twitter:creator" content="@danieljackstern" />
    <!-- social -->

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


<body ng-app=Mortgage.Demo>
	<div class="container">
		
	
	<div class="row">
		<div class="twelve columns">
			
		
			<h1>
				{{details.name}}
			</h1>
			<!-- <p>
				Price {{details.price}} , Cap ?
			</p> -->
			<form>
				<div class="row">
					<div class="six columns">
						<h2>
							Property Details
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="prop_name">
							Property Name
						</label>
						<input ng-model=details.name class="u-full-width" type="text" placeholder="1120 Sunnvale Crescent" id="prop_name">
					</div>
					<div class="six columns">
						<label for="prop_type">Property Type</label>
						<select class="u-full-width" id="prop_type">
						<option value="Option 1">Commercial</option>
						<option value="Option 1">Condominium/Co-ownership</option>
						<option value="Option 2">Single Residential</option>
						<option value="Option 3">Multiple Residential</option>
						<option value="Option 3">Raw Land</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="six columns">
						<label for="exampleMessage">Notes</label>
						<textarea class="u-full-width" placeholder="…" id="notes"></textarea>
						<label>
							<input type="checkbox">
							<span class="label-body">Print Charts</span>
						</label>
						
					</div>
					<div class="six columns">
						<label for="price">
							Price ($)
						</label>
						<input class="u-full-width" ng-model=details.price type="text" id="price">
						
						<label for="down_payment">
							Down Payment ($)
						</label>
						<input ng-model=details.down class="u-full-width" type="text" id="down_payment">

						<label for="amortization">
							Amortization (years)
						</label>
						<input class="u-full-width" ng-model=details.amortization type="text" id="amortization">

						<div class="row">
							<div class="eight columns">

						<label for="interest_rate">
							Interest Rate / ᴀ (%)
						</label>
						
						<input class=u-full-width ng-model=details.interest_rate type="text" id="interest_rate">
						</div>

						<div class="four columns">		

						<label for="interest_rate">
							Increase / ᴀ (%)
						</label>
						
						<input class=u-full-width ng-model=details.interest_rate_increase type="text" id="interest_rate">
						</div>
						</div>

						<label for="property_tax">
							Property Tax / ᴀ ($)
						</label>
						<input class="u-full-width" ng-model=details.property_tax type="text" id="property_tax">

						<label for="property_tax">
							Net Depreciable Percentage
						</label>
						<input class="u-full-width" ng-model='details.depreciable_percentage' type="text" id="property_tax">
						<p>Includes rate and percentage of property that is depreciable.  <span title="If the property costs $200000, and the land is worth $100000, and the depreciation on the property is 4%, this number should be entered as 2">(!)</span></p>

						<label for="taxrate">
							Taxable Rate (%)
						</label>
						<input  ng-model='details.taxrate' class="u-full-width" type="text" id="taxrate">
					</div>
				</div>


				<div class="row">
					<div class="six columns">
						<h3>
						Income
						</h3>
						<p ng-if=!details.incomes[0]>
							No income.							
						</p>
					</div>
				</div>
				<div class="row" ng-repeat='income in details.incomes'>					
					<div class="four columns">
						<label for="income_name">
							Name
						</label>
						<input class="u-full-width" ng-model=income.name type="text" id="income_name">
						
					</div>
					<div class="two columns">
						<label for="income_value">
							Value
						</label>
						<input class="u-full-width" ng-model=income.value type="text" id="income_value">
						
					</div>
					<div class="two columns">
						<label for="rent_increase">
							Increase/ᴀ (%)
						</label>
						<input class="u-full-width" ng-model=income.annual_increase type="text" id="rent_increase">

						</select>
					</div>
					<div class="two columns">
						<label for="vacancy_rate">
							Vacancy Rate (%)
						</label>
						<input class="u-full-width" ng-model=income.vac_rate type="text" id="vacancy_rate">

						</select>
					</div>
					<div class="two columns">
						<label for="remove field">
							Remove
						</label>
						<button ng-click='details.incomes.splice($index,1)'>
							-
						</button>

						</select>
					</div>	
				</div>
				<div class="row">
					<div class="six columns">
						<button ng-click='details.incomes.push({})'>Add Another Income Source</button>
					</div>
				</div>


				<div class="row">
					<div class="six columns">
						<h3>
						Expenses
						</h3>
						<p ng-if=!details.expenses[0]>
							No expenses.							
						</p>
					</div>
					
				</div>
				<div class="row" ng-repeat='expense in details.expenses'>					
					<div class="three columns">
						<label for="">
							Name
						</label>
						<input class="u-full-width" ng-model=expense.name type="text" id="prop_name">
					</div>
					<div class="two columns">
						<label for="">
							Cost
						</label>
						<input class="u-full-width" ng-model=expense.value type="text" id="prop_name">
					</div>
					<div class="three columns">

						<label for="prop_type">Calculated</label>
						<select class="u-full-width" ng-model=expense.calculated ng-options="i as i for i in ['Flat Rate','Percent of Income','Percent of Value']" id="prop_type">
						
						</select>
					</div>
					<div class="two columns">
						<label for="rent_increase">
							Increase/ᴀ (%)
						</label>
						<input class="u-full-width" ng-model=expense.annual_increase type="text" id="rent_increase">

						</select>
					</div>
					<div class="two columns">
						<label for="remove field">
							Remove
						</label>
						<button ng-click='details.expenses.splice($index,1)'>
							-
						</button>

						</select>
					</div>						
				</div>
				<div class="row">
					<div class="six columns">
						<button ng-click='details.expenses.push({})'>Add Another Expense</button>
					</div>
				</div>
				<input class="button-primary" type="submit" ng-click=calculate() value="Calculate">
			</form>
		</div>
	</div>
	<!-- <div class="row">
		<div class="six columns">
		<label for="prop_type">Table Details</label>
		<select class="u-full-width" id="prop_type">
			<option value="Option 1">Every Five Years</option>
			<option value="Option 1">Every Year</option>
			<option value="Option 2">Monthly</option>
		</select>
		</div>
	</div> -->
	<div class="row">
		<div class="six columns">
			<h2>
				Principal vs Equity over Time
			</h2>
			<table >
				<thead>
					<tr>
						<th>
							Period
						</th>
						<td ng-repeat='balance in simpleBalances'>
							{{balance.period + 1}}
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>
							Principal
						</th>	
						<td ng-repeat='balance in simpleBalances'>
							{{balance.P | currency}}
						</td>	
					</tr>
					<tr>
						<th>
							Equity
						</th>		
						<td ng-repeat='balance in simpleBalances'>
							{{balance.equity | currency}}
						</td>

					</tr>
					<tr>
						<th>
							Equity:Principal
						</th>		
						<td ng-repeat='balance in simpleBalances'>
							{{(balance.P < 1 ? 1 : balance.equity / mortgage.principal()) * 100  | number:2}}%
						</td>

					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	<p class=footer>
		made with financejs &copy;2015 daniel stern, danielstern.ca
	</p>

	<table >
		<thead>
			<tr>
			<th ng-repeat='(key,val) in balances[0]'>
				{{key}}
			</th>		
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='balance in balances'>
				<td title={{key}} ng-repeat='(key,val) in balance'>
					{{val | number:2}}
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<script src=finance.js></script>
	<script src='bower_components/angular/angular.js'></script>
	<script src='bower_components/d3/d3.js'></script>
	<script src=main.js></script>
</body>
</head>