body {
	font-family: Roboto;
}

table {
	font-size: 12px;
}



.footer {
	font-size: 1rem;
}

.print-only { display: none !important; } 
@media print { 
 /* All your print styles go here */
 #header, #footer, #nav { display: none !important; } 
 .no-print { display: none !important; } 
 .print-only { display: block !important; } 
 table {
 	font-size: 10px;
 }
 td,tr,th {
 	padding: 8px !important;
 }

   .no-float, .row, .column, {
  	float: none !important;
  	
  }

  .section {
  	page-break-inside : avoid;
  }

  .notes {
	font-size: 10px !important;
	}


 
}


.output-mode .no-print { display: none !important; } 
.output-mode .print-only { 
	display: block !important; 
	
} 

.output-mode table {
	font-size: 14px !important;
}


 table {
 	font-size: 10px;
 }
 td,tr,th {
 	pad

h1,h2,h3 {
 	page-break-before : always;

 }

  h3, h4 {
    page-break-after: avoid;
  }
  pre, blockquote,table {
    page-break-inside: avoid;
  }
/*
	h1 {
		position: fixed;
		top: 5px;
		left: 5px;
		font-size: 12px;
	}*/
[ng-cloak] {
	display: none;
}

